html{
    scroll-behavior: smooth;
  }
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  
  hr.new1 {
    border: 1px solid #E7E4E4;
    border-radius: 5px;
  }

  .baner video{
      position: relative;
      margin: auto;
      left: 50;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 32px;
  }
  .shiping{
    color: grey;
    font-size: 16px;

  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .pro{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  * {box-sizing: border-box;}

.forma{
  border-style: solid;
  border-color: hsla(0, 0%, 65%, 0.486);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



.nav-item{
  color: white;
}

.area{
  width: 400px;
  height: 150px;
}
.button {
  background-color: #353a40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.w3-center {
  background-color: #1a1a1b;
  color: white

}